/* general */
.cont-one {
    display: flex;
    flex-direction: column;
    font-family: roboto, sans-serif;
}
.cont-two,
.cont-three,
.cont-four,
.cont-five {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: roboto, sans-serif;
}

img {
    width: 250px;
}

.cont-one,
.cont-five {
    background-color: #1F2937;
}

body {
    margin: 0;

}

.cont-three {
    background-color: #E5E7EB;
}
/* container one */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 300px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
}

.links {
    margin: 0 8px;
    padding: 0 8px;
}

.links li {
    display: inline;
    color: #F9FAF8
}

.links a {
    font-style: none;
    text-decoration: none;
    color: #F9FAF8
}

.links a:hover {
    color: #3882F6;
}

.intro {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
    margin: 0 300px;
}

.intro .words {
    flex-wrap: wrap;
    align-self: center;
    width: 50%;
}

.intro .words h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.intro .words p {
    font-size: 18px;
    color: #E5E7EB;
}

.intro button {
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 8px;
    border: none;
    padding: 8px 36px;
}

.intro button:hover {
    background-color: #F9FAF8;
    color: #3882F6;
}

.intro img {
    width: 50%;
}

/* container two */
.cont-two .title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 24px 0;
    margin: 0 300px;
}

.info {
    display: flex;
    justify-content: center;
    margin: 0 300px;
}

.info .pairs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0;
    width: 200px;
}

.pairs img {
    border-radius: 8px;
    border: solid 3px #3882F6;
    width: 150px;
}

.pairs p {
    text-align: center;
    padding: 0 16px;
}

/* container three */
.cont-quote {
    display: flex;
    flex-direction: column;
    padding: 192px;
    margin: 0 300px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.author {
    align-self: flex-end;
    font-size: 24px;
    font-style: bolder;
    color: #1F2937;
}

/* container four */
.banner {
    display: flex;
    padding: 24px 72px;
    margin: 100px 300px;
    background-color: #3882F6;
}

.banner .words {
    padding: 0 96px;
    color: #F9FAF8;
}

h4 {
    font-size: 24px;
    font-weight: bold;
}



.cont-signup {
    display: flex;
    align-items: center;
}

.banner button {
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 4px 36px;
    border-radius: 8px;
    border: 2px solid #F9FAF8;
}

.banner button:hover {
    color: #3882F6;
    background-color: #F9FAF8;
}

/* container five */
.footer p {
    color: #F9FAF8;
}